/* cover */
.cover {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cover > * {
    margin-top: auto;
    margin-bottom: auto;
}

/* centre */
.center {
    box-sizing: content-box;
    /* max-width: 60ch; */
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--space-sm);
    padding-right: var(--space-sm);
}

/* for when items need to be totally centered */
.super-center {
    display: grid;
    place-items: center;
}

/* stack */
.stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    --stack-space: 1rem;
    height: a;
}

.stack > * + * {
    margin-top: var(--stack-space);
}

/* cluster */
.cluster {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.cluster > * {
    margin: 0.5rem;
}

.cluster--row {
    flex-wrap: nowrap;
}

.cluster--right {
    box-sizing: content-box;
    justify-content: flex-end;
    padding-left: var(--space-sm);
    padding-right: var(--space-sm);
}

.cluster--top {
    align-items: start;
}

.cluster--grow * {
    flex-grow: 1;
}

/* sidebar */
.sidebar-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebar {
    flex-basis: 40rem;
    flex-grow: 1;
}

.not-sidebar {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 50%;
}

/* lineup */
.lineup {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/* add a media query for flex wrap : wrap at breakpoint */

.lineup > * {
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: f;
    width: 100%;
    flex-wrap: nowrap;
}

.lineup img {
    width: 100%;
    margin: 0;
    height: 45%;
    object-fit: cover;
}

.lineup .button {
    width: 40%;
    place-self: center;
    margin: 0.65em;
}

/* content */

/* sections */
body {
    margin: 0;
}

main {
    max-width: 1000px;
    margin-top: 150px;
    /* will make a responsive body once mobile header is developed */
    margin-left: auto;
    margin-right: auto;
}
main > * {
    padding: var(--space-s) var(--space-m);
}

/* header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header__details img {
    max-width: 15px;
}

.header__top-row {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 8fr 7fr 8fr;
}

.header__details {
    grid-column: 1;
    place-content: left;
    justify-content: flex-start;
}

.header__logo {
    grid-column: 2;
    place-self: center;
    padding: 0 0.125em;
}

.header__garage {
    grid-column: 3;
    place-content: right;
}

.header__nav > * {
    flex: 1;
    padding: 0;
    margin: 0.25em;
}


/* footer */
footer {
    min-width: 100%;
}

footer > .cluster {
    justify-content: space-around;
}

footer > * > * {
    padding: 1em 0;
}

footer img {
    border-radius: 10px;
}

/* multimedia */
img {
    max-width: 40vw;
}

.logo {
    width: 8rem;
}

.icon {
    width: 25px;
    height: 25px;
}

.car-stat > .icon__car-stat {
    padding-bottom: 0.5em;
    width: 1.375em;
    height: 1.375em;
}

/* Index Page */
#main__index {
    margin: 150px 0 0;
    max-width: 100vw;
    margin: 150px auto 0;
}

#main__index > *:not(.featured-cars) {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    max-width: 1200px;

}

/* featured cars */
.featured-cars {
    margin: 0 auto;
    padding: 0;
    max-width: 1500px;
}

.featured-cars > .carousel {
    display: grid;
    grid-template-columns: 25% 5% 40% 5% 25%;
}

.carousel p, .carousel h3, .carousel a {
    text-align: left;
}

.carousel__card {
    overflow: hidden;
    position: relative;
    max-width: 100%;
}

.carousel__card > img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.carousel__card__description {
    position: absolute;
    bottom: 0;    
    z-index: 3;
    height: 8em;
    margin: 0;
    padding: 0;
    width: 100%;
}

.carousel__card__description * {
    margin: 0.5em;
}

.carousel__card__description > p {
    margin-bottom: 2em;
}

.carousel__card:first-of-type {
    grid-column: 1 / auto;
    grid-row: 1;
}

.carousel button:first-of-type {
    grid-column: 2 / auto;
    grid-row: 1;
    margin: 0 -1em 0 0.5em;
    z-index: 4;
}

.carousel__card:nth-of-type(2) {
    grid-column: 3 / auto;
    grid-row: 1;
}

.carousel button:last-of-type {
    grid-column: 4 / auto;
    grid-row: 1;
    margin: 0 0.5em 0 -1em;
    z-index: 4;
}

.carousel__card:last-of-type {
    grid-column: 5 / auto;
    grid-row: 1;
}

/* about us + sign */
.about-us {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    place-items: center;
}

.about-us > a {
    grid-row: 1;
    grid-column: 2;
}

.about-us > h2 {
    grid-row: 2;
    grid-column: 2;
}

.about-us > img {
    grid-row: 1 / span 2;
    grid-column: 1;
    max-height: 12em;
}

.card__about-us {
    grid-row: 3;
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 1fr minmax(300px, 40%);
}

.about-us__text {
    padding: var(--space-l);
    grid-column: 1;
}

.about-us__media {
    grid-column: 2;
}

/* add media query breakpoint for media */

/* contact us */
.contact-us {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% auto auto;
}

.contact-us > * {
    margin: 1em;
}

.contact-us > h2 {
    grid-row: 1;
    grid-column: 1 / span 2;
}

.contact-us__website {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 65% 25%;
}

.contact-us__website > h3 {
    grid-row: 1;
    grid-column: 1 / span 2;
}

.contact-us__website > p {
    grid-row: 2;
    grid-column: 1 / span 2;
}

.contact-us__website > a:first-of-type {
    grid-row: 3;
    grid-column: 1;
    margin: 0 1em 4em 2em;
}

.contact-us__website > a:last-of-type {
    grid-row: 3;
    grid-column: 2;
    margin: 0 2em 4em 1em;
}

.contact-us__phone {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 25% 65%;
}

.contact-us__phone > h3 {
    grid-row: 1;
    grid-column: 1 / span 2;
}

.contact-us__phone > .phone-number {
    grid-row: 2;
    grid-column: 1 / span 2;
}

.contact-us__phone > p {
    grid-row: 3;
    grid-column: 1;
}

.contact-us__phone > .img-container {
    grid-row: 2 / span 2;
    grid-column: 2;
    margin: 0;
}

.contact-us__phone > .img-container > img {
    max-width: 90%;
}

.contact-us__in-person {
    grid-row: 3;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 30% 25% 45%;
    grid-template-rows: 15% 85%;
}

.contact-us__in-person > h3 {
    grid-row: 1;
    grid-column: 1 / span 3;
}

.contact-us__opening-times {
    grid-row: 2;
    grid-column: 1;
}

.contact-us__location {
    grid-row: 2;
    grid-column: 2;
    padding: 1em 2em 1em 0.5em;
}

.contact-us > .contact-us__map {
    margin: 0;
    grid-row: 2;
    grid-column: 3;
}

.contact-us__map > iframe {
    height: 100%;
    width: 100%;
}


/* community hub */
main .button--lge {
    margin: 2em 0;
}

/* cars page */
.filter-descriptions {
    max-width: 950px;
    margin: 0 auto;
}

.filter-descriptions .text__header {
    text-align: left;
}

.filters-dropdown * {
    margin: 0;
    padding: 0;
}

.filters-dropdown__text {
    padding: 0 0.5em;
}

.filters-dropdown__arrow {
    height: 20px;
    width: 20px;
    background-color: var(--dark-blue);
    text-align: center;
}

.car-grid {
    max-width: 1000px;
    margin: 0 auto;
}

.car-box {
    margin: 1em;
    width: 250px;
}

.card__car__head {
    height: 4em;
}

.car-box * {
    margin: 0;
}

.card__car__photo > img {
    padding: 0;
    max-width: 100%;
    object-fit: cover;
}

.card__car__description > * {
    padding: 1em;
}

.card__car__stats > * {
    place-items: center;
}

.card__car__buttons {
    padding: 1em;
}

.card__car__buttons > * {
    margin: 0.5em;
}

/* about us */

.about-us-box h3 {
    padding-top: 2em;
}

.reviews-list {
    padding: 2em 5em 4.5em 3em;
}

.reviews li {
    align-items: center;
}

.reviews li > img {
    max-width: 40px;
}

.welcome-to-jz > * > img {
    padding: 0.5em 1em;
    max-width: 200px;
}

/* individual car page */
#body__individual-car-page {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 200px;
    /* will make a responsive body once mobile header is developed */
}

.button__back-to-cars {
    margin-left: 1em;
    color: var(--light-blue);
    background-color: var(--off-white);
    padding: 0.25em 0.5em;
}

.button__back-to-cars:hover {
    box-shadow: none;
}

.car-listing {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 20% 80%;
}

.car-listing__header {
    grid-row: 1;
    grid-column: 1;
    padding: 1em;
}

.button__add-to-garage {
    grid-row: 1;
    grid-column: 2;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin: 1.2em 1.5em 0 0;
}

.button__add-to-garage .add-to-garage-text {
    height: 35px;
    background-color: var(--dark-blue);
    padding: 0 1em;
}

.button__add-to-garage button {
    height: 35px;
    z-index: 2;
    border-radius: 0;
}

.button__add-to-garage, .button__add-to-garage:hover, .button__add-to-garage:active {
    box-shadow: none;
    text-shadow: none;
}


.car-listing__header > h2 {
    text-align: left;
    padding: 0;
    margin: 0;
}

.car-hero-shots {
    grid-row: 2;
    grid-column: 1;
    margin: 0;
}

.hero-shot {
    padding: 1em;
}

.hero-shot > img {
    max-width: 100%;
    align-self: right;
}

.car-details {
    place-self: center;
    grid-row: 2;
    grid-column: 2;
    padding: 0.5em;
    margin: 0;
    border-radius: 5px;
    max-width: 170px;
}

.car-details > ul {
    padding: 0;
    margin: 0;
}

.car-details li {
    padding: 1em;
}

/* add a media query to set flex wrap at a certain point */

.car-details .icon {
    width: 25px;
    height: 25px;
}

.car-featured-shots {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.car-featured-shots img {
    width: 22vw;
    max-width: 200px;
    padding: 0.5em;
}

.descriptor-box p {
    padding: 1em 2em;
}

/* finance page */
.finance-intro > p {
    padding-bottom: 1.5em;
}

.finance-intro > .image-row {
    display: grid;
    grid-template-areas: "a b c";
    place-items: center;
}

.finance-form-box h2 {
    padding-top: 2em;
}

.image-row > img {
    max-width: 90%;
}

.form {
    max-width: 600px;
    margin: 0 auto;
}

.form > h2 {
    padding-top: 1em;
}

.form__question > * {
    text-align: left;
    padding-left: 2em;
}

.form__question > h3 {
    padding: 2em 0 0 2.5em;
}

.homeowner-details, .business-employment-details {
    padding: 0 2em;
}

.finance-form-details h3 {
    text-align: left;
    padding: 2em 0 0 0.375em;
}

.label__header {
    padding-top: 2em;
}

.finance-input-questions {
    justify-content: flex-start;
}

.finance-form-box .button {
    text-transform: uppercase;
    text-align: center;
}

.form {
    margin-bottom: 10em;
}

/* news */
.featured-articles__cards {
    max-width: 800px;
    margin: 0 auto;
}

.card__news {
    margin-top: 2em;
    justify-content: flex-start;
    height: auto;
}

.card__news > h3 {
    margin: 0;
    padding: 1em 1em;
}

.card__news > p {
    margin: 0;
    padding: 0 2em 3em;
}

/* add a media query to news cards to change to a column of articles */

.archives__article {
    justify-content: space-between;
    place-items: center;
}

.archives__box {
    padding: 3em 2em;
    max-height: 400px;
    overflow-y: auto;
}

.archives__article {
    padding: 0.75em;
}

.archives__article * {
    padding: 0;
    margin: 0 10px;
}

.archives__article button {
    padding: 0.25em 1em;
}

.archives {
    display: grid;
    grid-template-columns: 70% 30%;
}

.archives > .archives__filters {
    text-align: center;
    grid-column: 2;
    grid-row: 1;
    max-width: 200px;
    max-height: 300px;
    margin: 0 1em;
    padding: 1em;
}

.archives__filters > p:first-of-type {
    margin: 0;
    padding-bottom: 0.25em;
}

.archives > .archives__box {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 80px;
}

/* media query here to swap filter box and articles from row to column

/* credit to https://github.com/EngineerToDeveloper/JavaScript-Slider-Carousel for this carousel */
.slider {
    height: 400px;
    overflow: hidden;
    position: relative;
}

.slider .slider-item {
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    transition: transform 400ms;
}

.slider .slider-item.active,
.slider .slider-item.prev-item,
.slider .slider-item.next-item {
    display: block;
}

.slider-item.prev-item,
.slider-item.active.slide-next {
    transform: translateX(-100%);
}

.slider-item.active.slide-prev,
.slider-item.next-item {
    transform: translateX(100%);
}

.slider-item.prev-item.slide-end,
.slider-item.next-item.slide-end {
    transform: translateX(0);
}

.slide-indicators {
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    padding: 0;
    display: flex;
}

.slider-control-prev,
.slider-control-next {
    position: absolute;
    z-index: 20;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.3;
    transition: opacity 300ms;
}

.slider-control-prev {
    left: 20px;
}

.slider-control-prev:hover {
    opacity: 1;
}

.slider-control-next {
    right: 20px;
}

.slider-control-next:hover {
    opacity: 1;
}

.slide-indicator {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #ffffff;
    opacity: 0.5;
    margin: 0 8px;
}

.slide-indicator.active {
    opacity: 1;
}