/* utility classes */
:root {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}


/* buttons */
.button {
    border: none;
    border-radius: 8px;
    padding: 0.25em 0.5em;
    /* fall backs */
    font-family: var(--font-secondary), serif;
    font-size: var(--text-m);
    color: var(--dark-blue);
    background-color: var(--gold);
    width: 4em;
    height: 2em;
    text-decoration: none;
}

.button--lge {
    width: auto;
    height: auto;
    font-size: var(--text-l);
}

.button--med {
    width: auto;
    height: auto;
    font-size: var(--text-m);
}

.button--sml {
    font-size: var(--text-s);
}

.button--light {
    background-color: var(--gold);
    color: var(--dark-blue);
}

.button--dark {
    background-color: var(--dark-blue);
    color: white;
}

.contact-website > .body-button-med {
    width: 10em;
    height: 3em;
}

.card {
    box-shadow: 0px 5px 1em rgba(5, 25, 78, 0.2);
}