/* utility classes */
:root {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}


/* buttons */
.button {
    border: none;
    border-radius: 8px;
    padding: 0.25em 0.5em;
    /* fall backs */
    font-family: var(--font-secondary), serif;
    font-size: var(--text-m);
    color: var(--dark-blue);
    background-color: var(--gold);
    width: 4em;
    height: 2em;
    text-decoration: none;
    text-align: center;
    width: auto;
    height: auto;
    transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

.button--lge {
    font-size: var(--text-l);
}

.button--med {
    font-size: var(--text-m);
}

.button--sml {
    padding: 0.5em 0.75em;
    font-size: var(--text-s);
}

.button--xsml {
    padding: 0.5em 0.5em;
    font-size: var(--text-xs);
}

.button--light {
    background-color: var(--gold);
    color: var(--dark-blue);
}

.button--dark {
    background-color: var(--dark-blue);
    color: white;
}

.button:hover {
    text-shadow: none;
}

.button--dark:hover {
    background-color: white;
    color: var(--dark-blue);
    box-shadow: 0px 0px 3px var(--dark-blue);
}

.button--dark:active {
    background-color: var(--dark-blue);
    color: white;
    box-shadow: inset 0px 0px 5px white;
}

.button--light:hover {
    background-color: var(--dark-blue);
    color: gold;
    box-shadow: 0px 0px 3px var(--dark-blue);
}

.button--light:active {
    background-color: var(--gold);
    color: var(--dark-blue);
    box-shadow: inset 0px 0px 3px var(--dark-blue);
}

.button--success {
    background-color: var(--positive-green);
}

.button--added {
    background-color: var(--negative-red);
    color: white;
}

.contact-website > .body-button-med {
    width: 10em;
    height: 3em;
}

.card {
    box-shadow: 0px 5px 1em rgba(5, 25, 78, 0.2);
    background-color: var(--off-white);
}

/* box */
.box {
    box-sizing: border-box;
    border: solid var(--dark-blue) 1px;
}

/* header */
.mobile-header * {
    overflow: hidden;
    height: 0px;
    width: 0px;
}

/* backgrounds/extra visual aesthetics
#winding-road {
    position: fixed;
    z-index: -1;
    min-height: 100vh;
    max-width: 200vw;
    left: 0;
    top: 0;
    opacity: 10%;
} could do with some more work */

.about-us-page {
    background-image: url(/Images/about-us-road-lge.svg);
    background-repeat: no-repeat;
    background-size: cover;
}