/* for mobile */
@media (max-width: 575.98px) {   
    /* index page */
    .about-us > a:first-of-type, .about-us > h2 {
        grid-column: 1 / span 3;
    }
    /* finance page */
    .image-row {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .image-row > img {
        padding: 1em;
        max-width: 300px;
    }
    .image-row > img:first-of-type {
        grid-row: 1;
        grid-column: 1;
    }
    .image-row > img:nth-of-type(2) { 
        grid-row: 2;
        grid-column: 1;
    }
    .image-row > img:last-of-type {
        grid-row: 3;
        grid-column: 1;
    }
    .finance-form-box > h2:first-of-type {
        padding-top: 0;
    }
    .finance-form-box > i {
        padding-bottom: 1em;
    }
    .finance-form-box * {
        overflow: hidden;
    }
    /* news page */

    /* cars page */

    /* contact us page */

    /* about us page */

    /* garage page */

    /* individual car page */

    /* footer */
}


/* for a narrower desktop */
@media (max-width: 767.98px) { 
    /* header */
    #header .navbar {
        background-color: var(--light-blue);
        display: grid;
        grid-template-columns: 85% 15%;
        grid-template-rows: 30% auto;
        padding: 1em 1em 0;
        height: 10vh;
    }
    #header .logo > img {
        align-self: left;
        max-width: 80px;
    }
    #header > .hamburger {
        align-self: right;
    }
    #header .icon {
        max-width: 10px;
        max-height: 10px;
    }
    .header-details {
        grid-row: 2;
        grid-column: 1 / span 2;
        justify-content: center;
    }
    
    /* hamburger menu */
    .nav-sub > * {
        padding: 1em;
    }
    .nav-link{  
        text-decoration: none;  
    }
    .nav-sub {  
        position: absolute;   
        top: 40px;  
        right: 0px;
        height: 100vh;
        padding: 1em 4em 1em 1em;
        background-color: var(--light-blue);
        transition: transform 0.3s ease-in;  
        transform: translate(100%);
    }  
    .nav-change{  
        transform: translate(0%); 
        box-shadow: -5em 0.5em 20em var(--light-blue);    
    }
    .hamburger {  
        display: block;
        justify-content: flex-end;
    }  
      
    .change .line1 {  
       transform: rotate(45deg) translate(8px,3px);  
    }  
    .change .line2 {  
       opacity: 0;  
    }  
    .change .line3 {  
       transform: rotate(-45deg) translate(8px,-3px);  
    }  

    /* index page */
    #main__index > .featured-cars {
        width: 90vw;
        margin: 0 auto;
    }
    #main__index > *:not(.featured-cars) {
        width: 90vw;
        margin: 0 auto;
    }
    .featured-cars > .carousel {
        grid-template-columns: 0.01% 9.99% 80% 9.99% 0.01%;
    }
    .carousel__card__description {
        height: 7em;
        opacity: 80%;
    }
    .carousel__card__description > p {
        margin-bottom: 1em; 
    }
    #carousel-car-1 {
        grid-column: 1 / auto;
    }
    #car-carousel__prev {
        grid-column: 2;
    }
    #carousel-car-2 {
        grid-column:  3 / auto;
        max-width: 500px;
    }
    #car-carousel__next {
        grid-column: 4;
    }
    #carousel-car-3 {
        grid-column: 5 / auto;
    }
    .about-us > img:first-of-type {
        visibility: hidden;
        max-width: 10px;
    }
    .about-us {
        grid-template-rows: 0.5fr 0.5fr 4fr;
    }
    .about-us__media {
        min-height: 200px;
        grid-column: 1 / span 3;
        grid-row: 3;
    }
    .about-us__text {
        grid-row: 4;
        grid-column: 1 / span 3;
    }
    .contact-us {
        grid-template-rows: auto;
        
    }
    .contact-us__website {
        grid-column: 1 / span 2;
        grid-row: 2;
    }
    .contact-us__phone {
        grid-column: 1 / span 2;
        grid-row: 3;
    }
    .contact-us__in-person {
        grid-column: 1 / span 2;
        grid-row: 4;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 5% 40% 35% 20%;
        min-height: auto;
    }
    .contact-us__in-person > .contact-us__opening-times {
        grid-column: 1 / span 3;
        grid-row: 2;
        justify-content: flex-end;
    }
    .contact-us__in-person > .contact-us__location {
        grid-column: 1 / span 3;
        grid-row: 3;
    }
    .contact-us__in-person > .contact-us__map {
        grid-column: 1 / span 3;
        grid-row: 4;
    }
    .articles {
        flex-direction: column;
    }
    .articles > * {
        margin: 1.5em auto;
        max-width: 300px;
    }
    .articles .img__article {
        min-width: 100%;
    }

    /* finance page */

    /* news page */
    .featured-articles__cards {
        flex-direction: column;
        place-items: center;
    }
    .card__news {
        margin: 1em 0;
        max-width: 80vw;
    }
    .featured-articles__cards p, .featured-articles__cards h3 {
        padding: 1em;
    }
    .featured-articles__cards img {
        min-width: 100%;
    }
    .archives {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        justify-items: center;
    }
    .archives > .archives__filters {
        width: 70vw;
        grid-column: 1;
        grid-row: 1;
        margin-bottom: 2em;
    }
    .archives > .archives__box {
        grid-column: 1;
        grid-row: 2;
    }
    .featured-articles__cards > .card__news a {
        margin-bottom: 2em;
    }
    /* cars page */

    /* contact us page */

    /* about us page */

    /* garage page */

    /* individual car page */
    .car-listing {
        grid-template-columns: 1fr;
        grid-template-rows: auto 10% auto 30%;
    }
    .car-listing__header {
        grid-row: 1;
        grid-column: 1;
    }
    .button__add-to-garage {
        grid-row: 2;
        grid-column: 1;
    }
    .car-hero-shots {
        grid-row: 3;
        grid-column: 1;
        margin-bottom: 1em;
    }
    .car-details {
        grid-row: 4;
        grid-column: 1;
        max-width: 550px;
        margin-bottom: 4em;
    }
    .car-details > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .car-details > ul > li {
        padding: 0.5em;
    }
    .car-featured-shots {
        justify-content: space-around;
    }
    .car-featured-shots > img {
        min-width: 150px;
    }
    /* footer */
    #footer img {
        max-width: 15px;
    }
    #footer ul {
        justify-content: flex-end;
    }
}


/* for a large desktop */
@media (max-width: 991.98px) { 
    /* header */
    /* TOTALLY SWAP THE HEADER HERE TO THE DESKTOP VERSION */   


}


/* for a super wide screen */
@media (max-width: 1199.98px) { 
    /* header */
    /* TOTALLY SWAP THE HEADER HERE TO THE DESKTOP VERSION */   


}


/* index page */

/* finance page */

/* news page */

/* cars page */

/* contact us page */

/* about us page */

/* garage page */

/* individual car page */

/* footer */

