:root {
    /* font declarations */
    --font-primary: 'Source Sans Pro';
    --font-secondary: 'Passion One';

    /* type scale */
    --text-scale-ratio: 1.2;
    --text-xxs: calc(1rem / ( var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-xs: calc(1rem / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-s: calc(1rem / var(--text-scale-ratio));
    --text-m: calc(1rem * var(--text-scale-ratio));
    --text-l: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
}

/* headings */
h2, h3, .text__header {
    font-family: var(--font-secondary), serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

/* text */
p, .text, th, td {
    font-family: var(--font-primary), sans-serif;
    font-size: var(--text-s);
}

th {
    font-weight: bold;
    font-size: var(--text-m);
}

ul, ul > * {
    color: var(--gold);
    text-decoration: none;
    list-style: none;
}

i {
    font-style: italic;
}

a {
    text-decoration: none;
}

a:hover {
    text-shadow: 0px 0px 3px var(--dark-blue), 1.5px 1.5px var(--gold);
    transition: 0.5s;
}

a:active {
    text-shadow: none;
    color: var(--color-text-alt);
}

.text--xlge {
    font-size: var(--text-xl);
}

.text--lge {
    font-size: var(--text-l);
}

.text--med {
    font-size: var(--text-m);
}

.text--sml {
    font-size: var(--text-s);
}

.text--xsml {
    font-size: var(--text-xs);
}

.text--xxsml {
    font-size: var(--text-xxs);
}


.text--white {
    color: white;
}

.text--dark {
    color: var(--dark-blue);
}

.text--light {
    color: var(--gold);
}