:root {
    /* font declarations */
    --font-primary: 'Source Sans Pro';
    --font-secondary: 'Passion One';

    /* type scale */
    --text-scale-ratio: 1.2;
    --text-xxs: calc(1rem / ( var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-xs: calc(1rem / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-s: calc(1rem / var(--text-scale-ratio));
    --text-m: calc(1rem * var(--text-scale-ratio));
    --text-l: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
}

/* HEADINGS */
h2, h3, .text__header {
    font-family: var(--font-secondary), serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 0 0.25em;
}

/* DEFAULT TEXT */
p, .text, th, td {
    font-family: var(--font-primary), sans-serif;
    font-size: var(--text-s);
}

th {
    font-weight: bold;
    font-size: var(--text-m);
}

ul, ul > * {
    color: var(--gold);
    text-decoration: none;
    list-style: none;
}

.header__top-row p {
    font-size: 0.55em;
}

i {
    font-style: italic;
}

/* LINKS */

a {
    text-decoration: none;
}

a:hover, li:hover {
    text-shadow: 0px 0px 3px var(--dark-blue);
    transition: 0.1s;
}

a:active {
    text-shadow: none;
    color: var(--gold);
}

/* TEXT */
.text--xlge {
    font-size: var(--text-xl);
}

.text--lge {
    font-size: var(--text-l);
}

.text--med {
    font-size: var(--text-m);
}

.text--sml {
    font-size: var(--text-s);
}

.text--xsml {
    font-size: var(--text-xs);
}

.text--xxsml {
    font-size: var(--text-xxs);
}

.text--bold {
    font-weight: bold;
}

.text--white {
    color: white;
}

.text--dark {
    color: var(--dark-blue);
}

.text--light {
    color: var(--gold);
}


/* LABELS */
label {
    font-family: var(--font-primary), sans-serif;
    font-size: var(--text-s);
    text-justify: center;
}

.label__header {
    font-family: var(--font-secondary), serif;
    text-decoration: none;
}

/* TABLES */
.compare-table-title {
    font-weight: bold;
}

/* ACCORDION MENU */
.accordion {
    font-family: var(--font-primary), sans-serif;
    font-weight: 700;
    font-size: var(--text-s);
    font-style: italic;
    color: white;
    text-decoration: none;
}

.accordion-menu__individual-car-page li, .accordion-menu__individual-car-page td {
    font-family: var(--font-primary), sans-serif;
    list-style-type: disc;
    color: var(--light-blue);
    padding-bottom: 0.5em;
    text-shadow: none;
    font-size: var(--text-s);
}

.accordion-menu__individual-car-page th {
    padding-right: 1em;
    text-shadow: none;
    font-size: var(--text-s);
    text-align: right;
}